.fade-transition
{
    transition: 0.2s ease-in-out all;
}

.fade-transition.ng-enter
{
    opacity: 0;
    position: fixed;
}

.fade-transition.ng-enter-active
{
    opacity: 100%;
}

.fade-transition.ng-leave
{
    opacity: 100%;
    position: fixed;
    width: 100%;
}

.fade-transition.ng-leave-active
{
    opacity: 0;
}


.slide-vertical
{
    transition: 0.5s ease-in-out all;
}

.slide-vertical.ng-enter
{
    top: -100%;
    position: fixed;
    width: 100%;
}

.slide-vertical.ng-enter-active
{
    top: 0px;
}

.slide-vertical.ng-leave
{
    top: 0px;
    opacity: 100%;
    position: fixed;
    width: 100%;
}

.slide-vertical.ng-leave-active
{
    opacity: 0;
    top: 100%;
}


.slide-horizontal
{
    transition: 0.5s ease-in-out all;
}

.slide-horizontal.ng-enter
{
    left: 100%;
    width: 100%;
    position: fixed;
}

.slide-horizontal.ng-enter-active
{
    left: 0px;
}

.slide-horizontal.ng-leave
{
    left: 0px;
    width: 100%;
    opacity: 100%;
    position: fixed;
}

.slide-horizontal.ng-leave-active
{
    opacity: 0;
    left: -100%;
}