html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 2em;
	font-size: 18px;
	color: #eee;
	background-color: #000;
}

h1, h2, h3 {
	font-family: 'Oswald';
}

.container-fluid .row {
	margin: 0;
}

.text-light {
	color: #eee;
}

.text-dark {
	color: #111;
}

.bg-light {
	background-color: #eee;
	color: #111;
}

.bg-dark {
	background-color: #111;
	color: #eee;
}

.bg-color {
	background-color: #F64747;
	color: #eee;
}

.circle {
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	width: 125px;
	height: 125px;
	padding: 37px;
	background-color: #fff;
	color: #F64747;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.pad {
	padding: 40px;
}

.bg-img {
	position: fixed;
	background: url('../img/bg.jpg') no-repeat center center scroll;
	background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0.15;
	z-index: -9999;
}

.fixed-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	font-family: 'Oswald';
	z-index: 9999;
	background-color: rgba(0,0,0,0.85);
	text-align: center;
	display: none;
}

.fixed-nav ul {
	list-style: none;
	padding: 0;
	margin: 5px;
}

.fixed-nav ul li {
	display: inline-block;
}

.fixed-nav ul li a {
	display: block;
	color: #fff;
	padding: 0 10px;
	margin: 0 10px;
	transition: 0.2s ease-in-out all;
}

.fixed-nav ul li a:hover {
	background-color: #F64747;
	text-decoration: none;
}

.fixed-nav ul li a:focus {
	text-decoration: none;
}

.landing-img {
	position: relative;
	background: url('../img/header.jpg') no-repeat center center scroll;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.landing-bg {
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
}

.landing-nav {
	padding-top: 2%;
	text-align: center;
	font-family: 'Oswald';
}

.landing-nav ul {
	list-style: none;
	padding: 0;
}

.landing-nav ul li {
	display: inline-block;
}

.landing-nav ul li a {
	display: block;
	color: #fff;
	padding: 5px 10px;
	margin: 0 10px;
	transition: 0.2s ease-in-out all;
}

.landing-nav ul li a:hover {
	background-color: #F64747;
	text-decoration: none;
}

.landing-nav ul li a:focus {
	text-decoration: none;
}

.landing-text {
	color: #eee;
	position: relative;
	top: 20%;
	text-align: center;
}

.landing-text h1 {
	margin: 0;
	font-weight: 300;
	font-size: 38px;
}

.landing-text h1 b {
	font-weight: 400;
}

.landing-text h2 {
	margin-top: 5px;
	font-size: 24px;
	font-weight: 300;
}

.landing-button {
	position: absolute;
	text-align: center;
	bottom: 60px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.landing-button i {
	border: 2px solid #fff;
	border-radius: 60px;
	width: 60px;
	height: 60px;
	padding-top: 3px;
	color: #fff;
	transition: 0.2s ease-in-out all;
}

.landing-button a:hover i {
	background-color: #fff;
	color: #111;
}

.container-block {
	padding: 100px 0;
}

.container-block h2 {
	margin-bottom: 25px;
}

.small-block {
	text-align: center;
	padding: 0 15px;
}

.small-block h3 {
	margin-top: 35px;
	margin-bottom: 25px;
	font-size: 26px;
}

.progress {
	margin-top: 25px;
	height: 40px;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #ccc;
}

.progress h3 {
	margin: 0;
	padding: 10px;
	text-align: left;
}

.progress-bar {
	-webkit-box-shadow: none;
	box-shadow: none;
	background-color: #5F758E;
}

#skills h3 {
	font-size: 18px;
}

#work h3 {
	margin-top: 50px;
}

#work b {
	color: #F64747;
}

#work .bg-light b {
	color: #000;
}

#footer {
	text-align: center;
}

#footer .container-block {
	padding: 100px 0 200px 0;
}

#footer ul {
	list-style: none;
	padding: 0;
}

#footer ul li {
	display: inline-block;
}

#footer ul li a {
	display: block;
	color: #fff;
	padding: 5px 10px;
	transition: 0.2s ease-in-out all;
}

#footer ul li a:hover {
	color: #333;
}

#footer ul li a:focus {
	text-decoration: none;
}

.img-block {
	border-radius: 5px;
	background-size: cover;
	width: 100%;
	height: 250px;
}