body
{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	line-height: 1.6em;
	font-size: 18px;
	background-color: #111;
	color: #ecf0f1;
}

a
{
	cursor: pointer;
}

hr
{
	color: #222;
	background-color: #222;
	border-color: #222;
	height: 2px;
	width: 60%;
}

.top-margin
{
	margin-top: 10px;
}

.transparent
{
	padding: 100px 0;
	background: rgba(0,0,0,0.2);
}

.circle
{
	border-radius: 50%;
	width: 125px;
	height: 125px;
	padding: 37px;
	background-color: #fff;
	color: #e74c3c;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.splash
{
	background: #c0392b url('../img/banner.jpg') no-repeat;
	background-size: cover;
}

.splash .header
{
	text-align: center;
	margin-bottom: 80px;
}

.splash h1
{
	font-size: 60px;
	font-weight: 300;
}

.splash h2
{
	font-weight: 300;
}

.splash ul
{
	list-style: none;
	text-align: center;
	width: 100%;
	padding: 0;
}

.splash li
{
	display: inline-block;
}

.splash li a
{
	border-radius: 5px;
	color: #fff;
	margin: 2px;
	padding: 25px 35px;
	width: 170px;
	display: inline-block;
	text-decoration: none;
	outline: none;
	border: none;
	font-size: 16px;
	font-weight: 300;
	transition: 0.3s ease-in-out all;
}

.splash li a:hover
{
	background-color: #fff;
	color: #e74c3c;
}

.splash .fa
{
	font-size: 60px;
	margin-bottom: 10px;
}

.progress
{
	height: 30px;
}

.progress-bar
{
	font-size: 18px;
	font-weight: 400;
	text-align: left;
	padding-left: 15px;
	padding-top: 4px;
}

input[type="text"], textarea
{
	border: 2px #c0392b solid;
	background-color: #fff;
	padding: 10px;
	height: 50px;
	font-size: 16px;
	border-radius: 0;
	color: #222;
}

input[type="text"]:focus, textarea:focus
{
	outline: none;
	box-shadow: none;
	border-color: #222;
}

textarea
{
	transition: 0.2s ease-in-out all;
	width: 100%;
	height: 150px;
	resize: none;
}

.btn-outline
{
	border: 2px #c0392b solid;
	background-color: transparent;
	border-radius: 0;
	transition: 0.2s ease-in-out all;
}

.btn-outline:hover
{
	border-color: #fff;
	background-color: #fff;
	color: #c0392b;
}

.btn-outline:focus
{
	outline: none;
}

.container-red
{
	background: #e74c3c;
	border-top: 2px solid rgba(0,0,0,0.1);
	border-bottom: 2px solid rgba(0,0,0,0.1);
}

.container-white
{
	background: #ecf0f1;
	color: #222;
}

.container-pad
{
	padding: 40px 40px;
}

.container-fluid h2
{
	margin-bottom: 30px;
}

.project-img
{
	height: 300px;
}

.navbar-default {
	background-color: #222;
	border: none;
	padding: 20px 35px;
	margin: 0;
	border-radius: 0;
	border-bottom: 2px #212121 solid;
}
.navbar-default .navbar-brand {
	color: #ecf0f1;
	font-size: 24px;
	padding: 20px;
	outline: none;
	transition: 0.2s ease-in-out all;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #e74c3c;
}
.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
	padding: 20px 30px;
	transition: 0.2s ease-in-out all;
	outline: none;
	border-bottom: 5px #222 solid;
	font-size: 18px;
}
.navbar-default .navbar-nav > li > a > i {
	padding-right: 30px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #e74c3c;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ecf0f1;
	background-color: #222;
	border-bottom-color: #e74c3c;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #ecf0f1;
	background-color: #e74c3c;
}
.navbar-default .navbar-toggle {
	border-color: #e74c3c;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #e74c3c;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ecf0f1;
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
	color: #ecf0f1;
}

#sidebar
{
	background-color: #1f1f1f;
	width: 80px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 10px 0;
}

#sidebar > ul > li > a
{
	outline: none;
	background: #1f1f1f;
}

#sidebar li.active a
{
	color: #e74c3c;
}

#sidebar a
{
	color: #fff;
	transition: 0.2s ease-in-out all;
}

#sidebar a:hover
{
	color: #e74c3c;
}

.affix
{
	width: 80px;
	position: fixed;
	top: 40px;
	left: calc(100% - 80px);
}

.affix-bottom
{
	position: absolute;
}

@media (max-width: 767px) {
	#sidebar
	{
		visibility: hidden;
	}
}