<div class="container-fluid splash">
    <div class="row">
        <div class="col-sm-12">
            <div class="header">
                <h1>Hi, I'm <span style="color:#e74c3c">Edward Truong.</span></h1>
                <h2>Software Developer. Website Designer.</h2>
            </div>
            <ul class="ul-splash">
                <li><a ui-sref="main.home"><i class="fa fa-home fa-splash"></i><div>HOME</div></a></li>
                <li><a ui-sref="main.projects"><i class="fa fa-th-large fa-splash"></i><div>PROJECTS</div></a></li>
                <li><a ui-sref="main.resume"><i class="fa fa-file fa-splash"></i><br />RESUME</a></li>
                <li><a ui-sref="main.contact"><i class="fa fa-envelope fa-splash"></i><br />CONTACT</a></li>
            </ul>
        </div>
    </div>
</div>